@font-face {
  font-family: 'ralewaybold';
  src: url('../fonts/ralewaybold.woff2') format('woff2'),
  url('../fonts/ralewaybold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/ralewayregular.woff2') format('woff2'),
  url('../fonts/ralewayregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ralewaythin';
  src: url('../fonts/ralewaythin.woff2') format('woff2'),
  url('../fonts/ralewaythin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lm_roman';
  src: url('../fonts/lm_roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

