.main__nav {
  text-align: right;
  font-family: ralewayregular, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 60px;
  a {
    display: inline-block;
    color: black;
    margin-left: 20px;
    position: relative;
  }
  a:after {
    background-color: black;
    display: block;
    content: "";
    height: 1px;
    width: 0;
    left:50%;
    position:absolute;
    transition: width .3s ease-in-out;
    transform:translateX(-50%);
  }
  a:hover:after,
  a:focus:after {
    width: 100%;
  }
}

.main__text {
  width: 445px;
  padding-left: 69px;
  padding-bottom: 336px;
  position: relative;
  @media (min-width: 1517px) {
    padding-left: 179px;
  }
}

.main__title {
  padding-top: 176px;
  padding-left: 69px;
  margin-top: 0;
  margin-bottom: 22px;
  position: relative;
  @media (min-width: 1517px) {
    padding-left: 177px;
  }
}

.main__title:after {
  position: absolute;
  content: '';
  width: 459px;
  height: 734px;
  background: url("../img/a.png");
  top: -44px;
  left: 7px;
  @media (min-width: 1517px) {
    height: 749px;
    top: -57px;
  }
}

.main__title:before {
  position: absolute;
  content: '';
  width: 664px;
  height: 696px;
  background: url("../img/main.png");
  top: -4px;
  right: 0;
  @media (min-width: 1517px) {
    width: 816px;
    right: 80px;
  }
}

.main__text:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 80px;
  background-color: black;
  top: 135px;
  left: 74px;
  @media (min-width: 1517px) {
    left: 184px;
  }
}